
nav {
    background-color: #333;
    padding: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

li {
    margin-left: 1rem; /* Add spacing between navbar items */
}

li a, li button {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

li a:hover, li button:hover {
    background-color: #555;
}

.logo{
    height: 30px;
    width: 30px;
}
